# Base de datos Neon
DATABASE_URL=postgresql://user:password@host.neon.tech/dbname?sslmode=require

# Cloudflare R2
R2_ACCOUNT_ID=tu_account_id
R2_ACCESS_KEY_ID=tu_access_key
R2_SECRET_ACCESS_KEY=tu_secret_key
R2_BUCKET_NAME=mi-drive

# JWT
SECRET_KEY=genera-una-clave-secreta-larga-aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
